//Path
$font: '../fonts/';
$images: '../images/';

//Color
$grey: #333;
$grey-1: #ccc;
$grey-2: #eee;
$white: #FFF;
$red: #ff0000;
$red-1: #ffcccc;
$green-1: #ccffcc;
$green: #00ff00;

//Font family
$font-family-verdana: verdana, arial, sans-serif;
