if isMin
	script(src = rootPath + "assets/js/libs.min.js")
	script(src = rootPath + "assets/js/app.min.js")
else
	script(src = rootPath + "assets/js/libs.js")
	script(src = rootPath + "assets/js/app.js")
